.image-cropper {
    max-width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}
img {
    display: block;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}