/*.image-cropper {
    max-width: 320px;
    height: 236px;
    position: relative;
    overflow: hidden;
}
img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}*/

.wrapper {
    position: relative;
    padding: 0;
    /*width:100px;*/
    display:block;
}
.text {
    position: absolute;
    top: 0;
    color:0066FF;/*#f00;*/
    background-color:rgba(255,255,255,0.8);
    width: 320px;
    height: 240px;
    line-height:240px;
    text-align: center;
    vertical-align: middle;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.text:hover {
    opacity:1;
}
}

img {
    z-index:1;
}